<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <title>Hello!</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="content">
                <div class="window">
                    <p>Energy: @ViewBag.energy</p>
                    <p>Happiness: @ViewBag.happiness</p>
                    <p>Fullness: @ViewBag.fullness</p>
                    <p>Meals: @ViewBag.meals</p>
                </div>
                <div class="messages">
                    <p>@ViewBag.message</p>
                </div>

                <form action="feed" method="POST">
                    <button class="btn waves-effect waves-light">Feed<i class="material-icons right">chevron_right</i></button>
                </form>
                <form action="play" method="POST">
                    <button class="btn waves-effect waves-light">Play<i class="material-icons right">chevron_right</i></button>
                </form>
                <form action="work" method="POST">
                    <button class="btn waves-effect waves-light">Work<i class="material-icons right">chevron_right</i></button>
                </form>
                <form action="sleep" method="POST">
                    <button class="btn waves-effect waves-light">Sleep<i class="material-icons right">chevron_right</i></button>
                </form>
            </div>
        </div>
    </body>
</html>
